---
layout: default0
title: Introduction
date: 2014-02-01
noToc: true
---

<div id="outline-container-org703b919" class="outline-2">
<h2 id="org703b919"><a href="nagwainschool.html">The First Nagwain School on Marxism</a></h2>
<div class="outline-text-2" id="text-org703b919">

<div class="figure">
<p><a href="http://indianstatistics.org/marxismcourse.html"><img src="http://indianstatistics.org/images/nagwainbanner.png" alt="nagwainbanner.png" /></a>
</p>
</div>

<ul class="org-ul">
<li><a href="http://indianstatistics.org/marxismcourse.html">Call for applications (Last Date: August 15, 2019)</a> <a href="http://indianstatistics.org/marxismcoursehi.html">(हिन्दी में)</a></li>
<li><a href="http://indianstatistics.org/nagwain_code_of_conduct.html">Code of conduct for participants</a> <a href="http://indianstatistics.org/nagwain_code_of_conduct_hi.html">(हिन्दी में)</a></li>
<li><a href="https://tinyurl.com/marxismcourse">Online application (ऑनलाइन आवेदन)</a></li>
<li><a href="http://indianstatistics.org/nagwainform.docx">Offline application (ऑफ़-लाइन आवेदन)</a></li>
<li><a href="nagwainschool.html">More&#x2026;</a></li>
</ul>
</div>
</div>

<div id="outline-container-org66b99c2" class="outline-2">
<h2 id="org66b99c2"><a href="news.html">Latest</a></h2>
<div class="outline-text-2" id="text-org66b99c2">
<ul class="posts">
{% for post in site.posts limit: 3 %}
  <div class="post_info">
    <li>
	    <a href="{{ post.url | remove_first:'/'}}">{{ post.title }}</a>
	    <span>({{ post.date | date:"%Y-%m-%d" }})</span>
    </li>
    <em>{{ post.excerpt }} </em>
    </div>
  {% endfor %}
</ul>

<ul class="org-ul">
<li><a href="news.html">More&#x2026;</a></li>
</ul>
</div>
</div>

<div id="outline-container-orgc6dc5e5" class="outline-2">
<h2 id="orgc6dc5e5"><a href="ssermonographs.html">SSER Monographs</a></h2>
<div class="outline-text-2" id="text-orgc6dc5e5">

<ul class="posts">
{% for post in site.categories.SSERMonograph limit: 4 %}
  <div class="post_info">
       <li><a href="{{ post.url }}">{{ post.title }} ({{post.post_author}})</a></li>
  </div>
{% endfor %}
</ul>

<ul class="org-ul">
<li><a href="ssermonographs.html">More&#x2026;</a></li>
</ul>
</div>
</div>

<div id="outline-container-orgee3b2e0" class="outline-2">
<h2 id="orgee3b2e0">Statistics</h2>
<div class="outline-text-2" id="text-orgee3b2e0">
<ul class="org-ul">
<li><a href="historical.html">Statistics on Pre-Independence India</a></li>
<li><a href="national_income.html">National Income</a></li>
<li><a href="public_finance.html">Public Finance and Government Expenditure</a></li>
<li><a href="trade.html">International Trade</a></li>
<li><a href="price.html">Prices</a></li>
<li><a href="agrarian.html">India&rsquo;s Agrarian Economy</a></li>
<li><a href="industry.html">Industrial Structure and Production</a></li>
<li><a href="banking.html">Banking and Finance</a></li>
<li><a href="socio_economic_conditions.html">Socio-Economic Conditions</a></li>
</ul>
</div>
</div>
<div id="outline-container-org76736e2" class="outline-2">
<h2 id="org76736e2">Archives of documents</h2>
<div class="outline-text-2" id="text-org76736e2">
<ul class="org-ul">
<li><a href="datadocuments.html">Important Documents on the Indian Statistical System</a></li>
<li>Official reports
<ul class="org-ul">
<li><a href="ncf.html">Reports of the National Commission on Farmers</a></li>
<li><a href="nceus.html">Reports of the National Commission for Enterprises in the
Unorganised Sector</a></li>
<li><a href="nssoreports.html">Reports of the National Sample Surveys</a></li>
</ul></li>
<li><a href="documentarchive.html">Archive of Documents on Different Aspects of Social and Economic
Development of India</a></li>
</ul>
</div>
</div>
<div id="outline-container-org1417728" class="outline-2">
<h2 id="org1417728">Bibliographic database</h2>
<div class="outline-text-2" id="text-org1417728">
<p>
indianstatistics.org uses a <a href="http://www.bibtex.org/">bibtex</a> database as a centralised
repository of bibliographic information. The entire <a href="https://github.com/indianstatistics/bibliobase">database</a> is
hosted on github for public use. You can clone the repository to get
the database.
</p>

<p>
We would like to invite users to contribute to further developing this
database, including by contributing bibliographic information of your
work on any aspect of Indian economy and society. Please send us
entries in bibtex format for inclusion in the database. Trusted
contributors can be given direct access to github repository to push
their additions to the repository directly.
</p>
</div>
</div>

<div id="outline-container-org6451b0d" class="outline-2">
<h2 id="org6451b0d"><a href="external_links.html">Links to other online sources of data</a></h2>
</div>
<div id="outline-container-orgdbf4b59" class="outline-2">
<h2 id="orgdbf4b59"><a href="contribute.html">Contribute data</a></h2>
<div class="outline-text-2" id="text-orgdbf4b59">
<p>
<a href="http://www.indianstatistics.org">indianstatistics.org</a> is a non-commercial initiative. We welcome
contributions in terms of public data compiled by scholars and
institutions as well as primary data collected and owned by scholars.
If you have such data that you are willing to contribute, please go
<a href="contribute.html">here</a>.
</p>
</div>
</div>
<div id="outline-container-orga342712" class="outline-2">
<h2 id="orga342712"><a href="about.html">About this website</a></h2>
</div>
<div id="outline-container-orgd1ffb9a" class="outline-2">
<h2 id="orgd1ffb9a"><a href="citation.html">Citations and copyrights</a></h2>
</div>
<div id="outline-container-orgbcd621a" class="outline-2">
<h2 id="orgbcd621a"><a href="comments.html">Comments, queries and feedback</a></h2>
<div class="outline-text-2" id="text-orgbcd621a">
<ul class="org-ul">
<li>Contact us by <a href="mailto:admin@indianstatistics.org">email</a>.</li>
<li>Or, go here for <a href="comments.html">general comments</a></li>
<li>Join our <a href="https://lists.riseup.net/www/info/indianstatistics">mailing list</a> to discuss issues related to collection,
dissemination, uses and abuses of statistics on India. The mailing
list can also be used to discuss tools to analyse statistics. The
group should not be used for advertising any commercial
activities/products.
<ul class="org-ul">
<li>To subscribe to the list, send email to
indianstatistics-subscribe at lists.riseup.net.</li>
<li>To unsubscribe from the list, send email to
indianstatistics-unsubscribe at lists.riseup.net.</li>
<li>To post to the list (for subscribers only), email to
indianstatistics at lists.riseup.net.</li>
</ul></li>
</ul>
</div>
</div>
