<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="kwG_h9jS9V8Lp2Ys4jE1hjhUy1XCm7eBzuOVFs9tJdI" /> 
    <meta name="msvalidate.01" content="F87F5BABE6108B73D425473C2F30877A" />
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
        <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/jquery.tocify.css">      
        <link rel="stylesheet" href="/bootstrap/css/syntax.css">
        <link rel="stylesheet" href="/bootstrap/css/toc.css"> 
        <link rel="stylesheet" href="/css/indstat.css">      
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/jquery.tocify.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="container">
        <a href="#"><img src="/img/logo-old.png" alt="Image" id="logo" class="img-responsive pull-left"/></a>
        <div class="notices pull-right">
          <a class="navbar-text" href="#">{{ site.name }}</a>    
        </div>
      </div>
    </div> 
    <div class="container">
      <div class="navbar navbar-static-top navbar-default affix" data-spy="affix" data-offset-top="110">
        <div class="container">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="/">Home</a></li>
              <li><a href="/news.html">News</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Macroeconomy <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/national_income.html">National income</a></li> 
                  <li><a href="/public_finance.html">Public finance</a></li>
                  <li><a href="/banking.html">Banking and finance</a></li>
                  <li><a href="/price.html">Prices</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Sectoral statistics <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/agrarian.html">Agrarian economy</a></li>
                  <li><a href="/industry.html">Industrial structure and production</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Socio-economic conditions <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/consumer_expenditure.html">Consumer expenditure and poverty</a></li>
                  <li><a href="/employment.html">Employment and wages</a></li>
                  <li><a href="/health.html">Health</a></li>
                  <li><a href="/education.html">Education</a></li>
                  <li><a href="/pds.html">Public distribution system</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  Documents <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/datadocuments.html">Important Documents on Indian Statistical System</a></li>
                  <li><a href="/ncf.html">Reports of the National
                  Commission on Farmers</a></li>
                  <li><a href="/nceus.html">Reports of the National Commission for Enterprises in the Unorganised Sector</a></li>
                  <li><a href="/nssoreports.html">Reports of the National Sample Surveys</a></li>
                  <li><a href="/documentarchive.html">Other documents</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="toc"></div>
    <div class="container-fluid">

